<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

    <!-- Tailwind Link -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>{% block title %} Blogly {% endblock title %}</title>
  </head>
  <body class="bg-gray-400 min-h-screen flex flex-col">
    <!-- Sticky Header -->
    <header class="bg-black p-4 sticky top-0 z-10">
      <nav class="flex justify-between items-center">
        <a href="/" class="text-white text-xl font-bold hover:bg-red-500 py-2 px-4 rounded transition-colors duration-300 ease-in-out cursor-pointer">
          Blogly
        </a>
      </nav>
    </header>

    <!-- Main Content -->
    <main id="main" class="flex-grow">
      {% block content %} 
      {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="bg-black p-4 text-center text-white">
      &copy; {{ current_year }} Blogly. All rights reserved.
    </footer>
  </body>
</html>

