{% extends "base.html" %}

{% block title %}User Detail Page{% endblock title %}

{% block content %}
<div class="flex flex-col items-center">
  <h1 class="text-4xl text-black font-bold text-black pt-20 mb-12"><u>User Detail Page</u></h1>
  
  <!-- <h1 class="text-3xl font-bold">{{ user.last_name | title }}, {{ user.first_name | title }}</h1> -->
  <h1 class="text-3xl font-bold">{{ user.full_name }}</h1>
  <div class="text-xl">
    <p><b>ID:</b> {{ user.id }}</p>
    <p><b>Birthdate:</b> {{ user.birthdate }}</p>
    <p class="mb-4"><b>Profile Pic:</b> 
      <a href="{{ user.image_url }}" class="hover:text-red-500 transition-colors duration-300 mb-12 ease-in-out cursor-pointer">{{ user.image_url }}</a>
    </p>
    <a type="button" class="bg-green-400 hover:bg-blue-400 py-2 px-4 rounded transition-colors duration-300 ease-in-out cursor-pointer" href="/">Take Me Home!</a>
    <a href="/user/{{ user.id }}/edit" class="text-white text-xl font-bold bg-blue-500 hover:bg-blue-300 py-2 px-4 rounded transition-colors duration-300 ease-in-out cursor-pointer">Edit User</a>
  </div>
</div>
{% endblock content %}
